<div class="action" *ngFor="let action of actionList" (click)="onActionClick(action)" [ngClass]="{ 'completed': action.completed }">
    <div class="action-text">
        <p>{{ action.title }}</p>
    </div>
    <!-- TODO -->
    <!-- <div class="task-buttons">

        <button class="button" [routerLink]="['/lists', selectedListId, 'edit-task', task._id]">
            <div class="icon">
                <i class="fas fa-edit"></i>
            </div>
        </button>

        <button class="button is-danger" (click)="onDeleteTaskClick(task._id)" style="margin-left: 10px;">
            <div class="icon">
                <i class="fas fa-trash"></i>
            </div>
        </button>

    </div> -->
</div>

<h3 class="empty-state-text" *ngIf="actions.length === 0">There are no tasks here! Click the add button to create
    a new task.</h3>