<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" [routerLink]="['/app']">
      <i class="fas fa-home" style="padding-right: 4px"></i>
    </a>

    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarTrgt">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarTrgt" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" [routerLink]="['/admin']">
        {{ 'HEADER.admin' | translate }}
      </a>

      <a class="navbar-item" [routerLink]="['/language']">
        {{ 'HEADER.language' | translate }}
      </a>

    </div>

    <div class="navbar-end">
      <div class="navbar-item" *ngIf="!authenticated">
        <auth-navbar-btns></auth-navbar-btns>
      </div>
      <div class="navbar-item" *ngIf="authenticated">
        <p>USER Info here</p>
        <div class="buttons">
          <a class="button is-light" (click)="logout()">
              {{ 'AUTH.LOGIN.logout_btn' | translate }}
          </a>
      </div>
      </div>
    </div>
  </div>
</nav>
<!-- TODO - fix menu close on item select in mobile view -->