<div class="tasks-container">
    <!-- <div class="tasks-manager-container"> -->
    <div *ngIf="taskList">
        <div *ngIf="taskList.length < 1" class="msg-container">
            <article class="message is-warning msg-container">
                <div class="message-header msg-header">
                    <p>Hooray! You have no tasks!</p>
                </div>
                <div class="message-body">
                    <div class="buttons are-medium btn-position">
                        <button class="button is-link is-outlined">+ New Task</button>
                        <button class="button is-link is-outlined">View completed</button>
                    </div>
                </div>
            </article>

        </div>

        <div *ngIf="taskList.length > 0">

            <div class="tasks-sidebar has-background-white">
                <h1 class="title task-title has-text-danger">Tasks</h1>

                <div class="list-menu" *ngFor="let task of taskList">
                    <!-- <a class="list-menu-item" *ngFor="let list of lists" [routerLink]="['/lists', list._id]" routerLinkActive="is-active">
                  <p>{{ list.title }}</p>
                </a> -->
                    <a class="list-menu-item is-active">{{task.title}}</a>
                </div>

                <button class="button is-primary has-text-white" (click)="createNewTask()">+ New Task</button>
            </div>
            <div class="task-actions-container has-background-light">
                <!-- this should be just a child component (no routing neccessary) -->
                <router-outlet></router-outlet>
            </div>

        </div>
    </div>
    <!-- </div> -->
</div>