<div *ngIf="!showProgress">
    <div *ngIf="taskList.length < 1" class="msg-container">
        <article class="message is-warning msg-container">
            <div class="message-header msg-header">
                <p>{{ 'TASK.no_tasks_msg' | translate }}</p>
            </div>
            <!-- TODO - this needs to updated as below -->
            <div class="message-body">
                <div class="buttons are-medium btn-position">
                    <button class="button is-link is-outlined">{{ 'TASK.new_task_btn' | translate }}</button>
                    <button class="button is-link is-outlined">{{ 'TASK.view_completed_btn' | translate }}</button>
                </div>
            </div>
        </article>
    </div>

    <div *ngIf="taskList.length > 0">
        <div class="tasks-container">
            <div class="tasks-main" [ngClass]="{'task-active': showTaskActive, 'actions-active': showActionActive}">
                <div class="has-background-white tasks-base">
                    <div style="display: flex; justify-content: space-between;">
                        <h1 class="title task-title has-text-danger">
                            {{ 'TASK.tasks_title' | translate }}</h1>
                        <new-task-btn (creatNewTaskEmitter)="toogleNewTaskModal()"></new-task-btn>
                    </div>

                    <label class="checkbox">
                        <input type="checkbox" (change)="optionsCheckChanged()" [checked]="showOptions">
                        {{ 'TASK.DETAILS.show_options_check' | translate }}
                    </label>

                    <task-list [taskList]="taskList" [selectedTask]="selectedTask"
                        (selectTaskEmitter)="selectTask($event)"></task-list>

                </div>
            </div>

            <div *ngIf="taskSelected" class="task-details"
                [ngClass]="{'active': showTaskActive, 'actions-active': showActionActive}">
                <app-task-details [task]="selectedTask" (actionsEmitter)="showActions()"></app-task-details>
            </div>


            <div *ngIf="actionsSelected" class="actions-list"
                [ngClass]="{'active': showActionActive, 'deselected': hideActions}">
                <app-task-actions [task]="selectedTask"></app-task-actions> <!--  [actions]="selectedTaskActions" -->
            </div>

        </div>

    </div>
</div>

<div *ngIf="showProgress" class="progress-container">
    <progress class="progress is-small is-primary" max="100"></progress>
</div>

<div class="modal" [ngClass]="{'is-active': showNewTaskModal}">
    <div class="modal-background"></div>
    <div class="modal-content">
        <new-task-component (taskCreatedEmitter)="taskCreatedEvent()"></new-task-component>
    </div>
    <button class="modal-close is-large" aria-label="close" (click)="toogleNewTaskModal()"></button>
</div>