<div class="has-background-white auth-container">
    <div class="field">
        <p class="control has-icons-left has-icons-right">
            <input class="input" type="email" [(ngModel)]="email" placeholder={{formPlaceholders.email}}>
            <span class="icon is-small is-left">
                <i class="fas fa-envelope"></i>
            </span>
            <!-- <span class="icon is-small is-right">
                <i class="fas fa-check"></i>
            </span> -->
        </p>
    </div>
    <div class="field">
        <p class="control has-icons-left">
            <input class="input" type="password" [(ngModel)]="password" placeholder={{formPlaceholders.password}}>
            <span class="icon is-small is-left">
                <i class="fas fa-lock"></i>
            </span>
        </p>
    </div>
    <div class="field">
        <p class="control">
            <button class="button is-primary" (click)="login()">
                {{ 'AUTH.LOGIN.login_btn' | translate }}
            </button>
        </p>
    </div>
</div>

<div class="has-background-white auth-container">
    <div class="msg-container">
        <article class="message is-warning msg-container">
            <div class="message-header msg-header">
                <p>{{ 'AUTH.LOGIN.sign_up_msg' | translate }}</p>
                <div class="field">
                    <p class="control">
                        <button class="button is-primary is-medium" [routerLink]="['/auth/sign-up']">
                            {{ 'AUTH.LOGIN.sign_up_btn' | translate }}
                        </button>
                    </p>
                </div>
            </div>
        </article>
    </div>
</div>

<div class="msg-container" *ngIf="showErrMsg">
    <article class="message is-warning msg-container">
        <div class="message-header msg-header">
            <p>{{ 'AUTH.LOGIN.sign_up_msg' | translate }}</p>
            <div class="field">
                <p class="control">
                    <button class="button is-primary is-medium" [routerLink]="['/auth/sign-up']">
                        {{ 'AUTH.LOGIN.sign_up_btn' | translate }}
                    </button>
                </p>
            </div>
        </div>
    </article>
</div>