.language-container {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    padding: 24px;
    // to push the footer to bottom as bulma doesn't do it
    height: calc(100vh - 96px);
  }

  .language-item {
      width: 75vw;
  }

  h1 {
      border-bottom: solid 1px white;
  }