<div class="has-background-white" *ngIf="!showProgress">
    <form [formGroup]="newTaskForm" (ngSubmit)="onSubmit()">
        <div class="field">
            <p class="control">
                <input class="input" type="text" formControlName="title" placeholder="{{ 'MAIN.Title' | translate }}" required>
            </p>
        </div>
        <div class="field">
            <p class="control">
                <textarea class="input" type="text" formControlName="description" placeholder="{{ 'MAIN.Description' | translate }}" style="height: 25vh"></textarea>
            </p>
        </div>
        <!-- TODO - add description field -->
        <div class="field">
            <p class="control">
                <button class="button is-primary" type="submit" [disabled]="!newTaskForm.valid">
                    {{ 'MAIN.Create' | translate }}
                </button>
            </p>
        </div>
    </form>
</div>

<div *ngIf="showProgress" class="progress-container">
    <progress class="progress is-small is-primary" max="100"></progress>
</div>