// for global styles
@import "./theme/variables";

html {
  background: linear-gradient(to right top, $blue, $cyan);
}

// TODO - replace
html,
body {
  height: 100%;
}

// ***** TASKS *****

.tasks-container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.tasks-base {
  display: flex;
  flex-direction: column;
  padding: 32px;
  border-radius: 8px;
  margin: 5px;
}

.tasks-list {
  @extend .tasks-base;

  width: 75%;
}

.tasks-task-active {
  @extend .tasks-base;

  // transition: box-shadow 0.2s ease, transform 0.2s ease;
  width: 50%;
}

.tasks-actions-active {
  width: 35%;
}

.task-details-active {
  width: 50%;
}

.task-details-actions-active {
  @extend .tasks-base;

  width: 35%;
}

.actions-list {
  width: 30%;
}

.task-title {
  font-family: "Papyrus";
  text-transform: uppercase;
  font-size: 24px !important;
}

.action-item {
  background-color: white;
  padding: 15px 20px;
  border-radius: 4px;
  margin-top: 10px;

  cursor: pointer;
  transition: box-shadow 0.2s ease, transform 0.2s ease;

  &:active {
    transform: scale(0.95);
  }

  &:hover {
    box-shadow: 0 0 0 5px #eeeeee;
  }

  &.complete {
    text-decoration: line-through;
    opacity: 0.8;
  }
}

// **********
