// for global styles
@import "./theme/variables";
@import "./theme/list";

// * {
//   margin: 0px;
// }

html {
  background: linear-gradient(to right top, $blue, $cyan);
}

// TODO - replace
// html,
// body {
//   height: 100%;
// }

html,
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
footer {
  margin-top: auto;
}

// ***** GENERAL *****

.mainContainer {
  display: flex;
  // to push the footer to bottom as bulma doesn't do it
  height: calc(100vh - 96px);
}

.progress-container {
  @extend .mainContainer;
  padding: 25vh 15vw 0 15vw;
}

.base {
  display: flex;
  flex-direction: column;
  padding: 32px;
  border-radius: 8px;
}

// **********

// ***** AUTH *****

.auth-container {
  @extend .base;
  width: 60%;
  margin: 16px;
}

.auth-base {
  display: flex;
  flex-direction: row;
}

// **********

// ***** TASKS *****

.tasks-container {
  @extend .mainContainer;
  // display: flex;
  // // to push the footer to bottom as bulma doesn't do it
  // height: calc(100vh - 96px);
  width: 100%;
  padding: 8px;
  // margin: 2px;

  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}

@media only screen and (min-width: 768px) {
  .tasks-container {
    flex-direction: row;
  }
}

.tasks-base {
  @extend .base;

  margin: 5px;
}

.tasks-main {
  width: 100%;
  // padding: 8px;
  // margin: 2px;
  border-radius: 4px;
}

.task-details {
  width: 100%;
  // padding: 8px;
  // margin: 2px;
  border-radius: 4px;
}

.actions-list {
  width: 100%;
}

@media only screen and (min-width: 768px) {
  .tasks-main {
    // @extend .tasks-base;
    display: flex;
    flex-direction: column;
    // padding: 32px;
    border-radius: 8px;
    // margin: 5px;

    width: 75%;
    transition: width 1s linear;

    &.task-active {
      width: 50%;
    }

    &.actions-active {
      width: 35%;
    }
  }

  .task-details {
    width: 30%;
    transition: 1s linear;
    // transition-delay: 0.5s;
    // opacity: 0.2;

    &.active {
      width: 50%;
      // opacity: 1;
    }

    &.actions-active {
      width: 35%;
      // opacity: 1;
    }
  }

  .actions-list {
    width: 10%;
    transition: 1s linear;
    // transition-delay: 0.2s;

    &.active {
      width: 30%;
    }

    &.deselected {
      opacity: 0.2;
    }
  }
}

.task-title {
  font-family: "Papyrus";
  text-transform: uppercase;
  font-size: 24px !important;
}

.action-item {
  background-color: white;
  padding: 15px 20px;
  border-radius: 4px;
  margin-top: 10px;

  cursor: pointer;
  transition: box-shadow 0.2s ease, transform 0.2s ease;

  &:active {
    transform: scale(0.95);
  }

  &:hover {
    box-shadow: 0 0 0 5px #eeeeee;
  }

  &.complete {
    text-decoration: line-through;
    opacity: 0.8;
  }
}

// **********

// ***** LANGUAGE *****

.language-base {
  @extend .base;

  padding: 5vh 5vw;
}

.language-container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  padding: 24px;
  // to push the footer to bottom as bulma doesn't do it
  height: calc(100vh - 96px);

  .language-main {
    @extend .language-base;
    width: 85vw;
  }
}

.title-container {
  width: 75%;
  margin-bottom: 5vh;
  border-bottom: solid 1px $danger;

  .language-title {
    font-family: "Papyrus";
    text-transform: uppercase;
    font-size: 20px !important;
  }
}
