<div class="tasks-base has-background-white">
    <section style="display: flex; justify-content: space-between;">
        <h1 class="title task-title has-text-danger" style="width: 60%;">{{ 'TASK.ACTIONS.title' | translate }}</h1>

        <new-action-btn (createNewActionEmitter)="toogleNewActionModal()"></new-action-btn>
    </section>

    <action-list [actionList]="actions"></action-list>
</div>

<div class="modal" [ngClass]="{'is-active': showNewActionModal}">
    <div class="modal-background"></div>
    <div class="modal-content">
        <new-action-component (actionCreatedEmitter)="actionCreateEvent($event)"></new-action-component>
    </div>
    <button class="modal-close is-large" aria-label="close" (click)="toogleNewActionModal()"></button>
</div>